.transaction-form button {
  /*display: block;*/
}

#transaction-prototype{
  display: none;
}

#account-display {
  display: none;
}

.currently-active-account {
  font-weight: bold;
  text-decoration: underline;
}

#account-list li {
  color: blue;
  cursor: pointer;
}
